/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

img {
    width: 100%;
}

header {
    background-color: #ff6900;
    color: white;
    height: 60px;
    width: 100%;
    padding: 0px 28px;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1;
}

.header-menu {
    height: 60px;
    font-size: 13px;
    font-weight: bold;
}

/* HEADER */
.logo-boolean {
    width: 110px;
} 

.genders {
    width: 20%;
}

.genders span:not(:first-child) {
    padding-left: 5px;
}

.icons {
    width: 20%;
    text-align: right;
}

.icons i:not(:last-child) {
    padding-right: 5px;
}

/* MAIN */
main {
    margin-top: 60px;
}

.products-list {
    display: flex;
    flex-wrap: wrap

}

.col {
    width: calc(100% / 3);
    padding: 0 20px;
}

.products-list col:not(3,6) {
    padding-right: 20px;
}

.product {
    margin-top: 50px;
    position: relative;
}

.img-back {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.product:hover .img-back {
    display: inline-block;
}


.heart {
    background-color: white;
    color: black;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 0 10px;
    font-size: 30px;
}

.heart:hover {
    color: red;
}

.discount {
    color: white;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 0;

}

.red-box {
    background-color: #ff0000 ;
    padding: 4px 8px;
}

.green-box {
    background-color: #008000;
    padding: 4px 8px;
}

.info-clothes {
    font-size: 10px;
}

.clothing {
    font-size: 15px;
    font-weight: bold;
}

.current-price {
    color: red;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
}

/* FOOTER */
footer {
    background-color: #1a1a1a;
    color: white;
    height: 80px;
    margin-top: 50px;
    padding: 0 20px;
}
.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.col-footer {
    line-height: 1.7;
    font-size: 12px;
}

.info-footer div:first-child {
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
}

.info-footer div span {
    padding: 0 4px;
}

.socials div:first-child {
    padding-left: 5px;
}

.social-icons i {
    padding: 0 5px;
    font-size: 15px;
}

