/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

img {
    width: 100%;
}

header {
    background-color: #ff6900;
    color: white;
    height: 60px;
}

.header-menu {
    height: 60px;
    font-size: 13px;
    font-weight: bold;
}

/* HEADER */
.logo-boolean {
    width: 110px;
} 

.genders {
    width: 20%;
}

.genders span:not(:first-child) {
    padding-left: 5px;
}

.icons {
    width: 20%;
    text-align: right;
}

.icons i:not(:last-child) {
    padding-right: 5px;
}



/* MAIN */
.products div {
    border: 1px solid red;
}